<<<<<<< HEAD

body{
  background-color: aquamarine;
}

=======
body{
    margin: 0;
    font-family: "Courier New";
    background-color: rgb(235, 219, 171);
    background-image: url("../images/background-picture.Oblig1.jpg");
  }
/* kilde image: https://coolwallpapers.me/2815528-digital-art-minimalism-abstract-pattern-geometry-triangle-square-colorful-lines-mosaic.html */
/* modified on photoshop */
>>>>>>> 14d8f0d484a42caeac1d862de6ef2866613c0a88

  img{
    text-align: center;
  }
 
  div{
    background-color:rgb(154, 135, 101);
    border-radius:4px;
    font-size:16px;
    padding:15px;
    margin:5px;
  }
  
  footer{
    background-color:rgb(255, 217, 2);
    border-radius:4px;
    font-size:16px;
    padding:15px;
    margin:5px;
  }
  
  /*Kilde til CSS over: https://www.webnots.com/how-to-create-custom-css-text-boxes/#google_vignette*/